{% extends "base.html" %}
{% block 'content' %}
{% load static %}

<div class="container">
  <div class="row">
    <div class="col-md-3 mt-3 bg-light-subtle">
      <h5>Filter By Category</h5>
      <p><a href="/">All</a></p>
      <p><a href="/catfilter/1">By Mobile</a></p>
      <p><a href="/catfilter/2">By Clothes</a></p>
      <p><a href="/catfilter/3">By Shoes</a></p>
      <hr />
      <h5>Filter By Price</h5>
      <hr />
      <form action="/range" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">MIN</label>
          <input name="min" type="number" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label">MAX</label>
          <input name="max" type="number" class="form-control" />
        </div>

        <button type="submit" class="btn btn-danger">Search</button>
      </form>

      <h5 class="mt-3">Sort By Price</h5>
      <hr />
      <p><a href="/sort/0">High To Low</a></p>
      <p><a href="/sort/1">Low To High</a></p>
    </div>

    <!-- card -->
    <div class="col-md-9 mt-3">
      <div class="row">
        {% for prod in products %}
        <div class="col-md-4">
          <div class="card" style="width: 100%;">
            <img src="{{prod.pimage.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{prod.name}}</h5>
              <p>{{prod.price}}</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/productdetail/{{prod.id}}" class="btn btn-danger">See Details</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- card end -->

  </div>
</div>

{% endblock 'content' %}

